.image-detail {
  float: left;
  display: flex;
  justify-content: center;

}
.btn-compras {
    background-color: #25d366;
}
.btn-compras:hover {
    background-color: #25d366;
    box-shadow: 0px 0px 3px #25d366;
}

.image-detail img {
    width: 800px;
}

.text-title{
    display: none;
        text-align: center;

}
a {
    text-decoration: none;
}
.img-drawer {
    display: grid;
    justify-content: center;
}

.img-drawer img {
    width: 900px;
    height: auto;
}

.details-container {
    margin-bottom: 150px;
}
/* Details.css */
.fixed-size-carousel {
    width: 500px; /* Establece el ancho fijo deseado */
    height: 300px; /* Establece la altura fija deseada */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    overflow: hidden; /* Recorta cualquier contenido que desborde el carrusel */
   display: flex;
   object-fit: cover; /* Ajusta la imagen para llenar el espacio sin deformarse */

   justify-content: center;
    .carousel-inner {
      /* Controla el tamaño de las imágenes dentro del carrusel */
      img {
        object-fit: cover; /* Ajusta la imagen para llenar el espacio sin deformarse */
        width: 100%;
        height: 100%;
      }
    }
  }
 

@media only screen and (max-width: 480px) {
    .image-detail {
        float: none;
    margin-left: 0px;
    margin-right: 0px;


    }
    .text-title{
        display: grid;

    }
}