.navbar-brand {
        font-size: 40px;
        font-family: "Lato-Black";
        text-transform: uppercase;
        background: -webkit-linear-gradient(left, #1d3ede, #01e6f8);
        background: -ms-linear-gradient(left, #1d3ede, #01e6f8);
        background: -moz-linear-gradient(left, #1d3ede, #01e6f8);
        background: -o-linear-gradient(left, #1d3ede, #01e6f8);
  
}

